<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Details</title>
    <link rel="stylesheet" href="/css/disease_details.css">
</head>
<body>
    <div class="container">
        <h1>Symptoms Associated with the Disease</h1>
        <div id="disease-container"></div>
        <div class="symptoms-container">
            <div id="symptoms-list">
                <!-- Symptom details will be injected here dynamically -->
            </div>
        </div>

        <button id="back-btn">Back</button>
    </div>

    <script src="/js/disease_details.js"></script>
</body>
</html>
