<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Possible Diseases</title>
    <link rel="stylesheet" href="/css/possible_diseases.css">
</head>
<body>
    <div class="container">
        <h1>You might have the following diseases</h1>
        <p>Based on the symptoms that you have.</p>
        
        <div class="disease-container">
            <div id="disease-list"></div>
        </div>

        <button id="back-btn">Back</button>

    </div>

    <script src="/js/possible_diseases.js"></script>
</body>
</html>
