<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Possible Diseases</title>
    <link rel="stylesheet" href="/css/possible_diseases.css">
</head>
<body>
    <div class="container">
        <h1>You might have the following diseases</h1>
        <p>Based on the symptoms that you have. Click on the disease to see more information.</p>
        
        <div class="disease-container">
            <div id="disease-list"></div>
        </div>
        
        <button id="back-btn">Back</button>
    </div>
    
    <footer>
        <h1>PLEASE CONSULT YOUR DOCTOR</p>
        <div class="disclaimer">
            <h3>Medical Disclaimer</h3>
            <p>The information provided by this application is for informational purposes only and is not intended as a substitute for professional medical advice, diagnosis, or treatment.</p>
            <p>Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay seeking it because of something you have read on this application.</p>
            <p>This application does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information. Reliance on any information provided by this application is solely at your own risk.</p>
        </div>
    </footer>

    <script src="/js/possible_diseases.js"></script>
</body>
</html>
